@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* SPRING - LIGHT */
:root[data-season="spring"][data-theme="light"] {
  --background: #fdf2f8;
  --foreground: #3f3f46;
  --accent: #ec4899;
}

/* SUMMER - LIGHT */
:root[data-season="summer"][data-theme="light"] {
  --background: #000000;
  --foreground: #1f2937;
  --accent: #000000;
}

/* AUTUMN - LIGHT */
:root[data-season="autumn"][data-theme="light"] {
  --background: #fff7ed;
  --foreground: #3f1d0d;
  --accent: #ea580c;
}

/* WINTER - LIGHT */
:root[data-season="winter"][data-theme="light"] {
  --background: #f0f9ff;
  --foreground: #0f172a;
  --accent: #38bdf8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* SPRING - DARK */
:root[data-season="spring"][data-theme="dark"] {
  --background: #1f1722;
  --foreground: #fdf2f8;
  --accent: #f472b6;
}

/* SUMMER - DARK */
:root[data-season="summer"][data-theme="dark"] {
  --background: #1f1a0d;
  --foreground: #fffbea;
  --accent: #fde047;
}

/* AUTUMN - DARK */
:root[data-season="autumn"][data-theme="dark"] {
  --background: #2a1608;
  --foreground: #fff7ed;
  --accent: #fb923c;
}

/* WINTER - DARK */
:root[data-season="winter"][data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f0f9ff;
  --accent: #7dd3fc;
}